<div class="d-flex flex-column justify-content-center align-items-center fill page-wrapper">
    
        <% if @upload.errors.any? %>
            <div class="p-2 text-center form-error-container">
                <% @upload.errors.full_messages.each do |msg| %>
                    <div class="form-error-text"><%= msg %></div>
                <% end %>
            </div>
        <% end %>
    

    <div class="p-2 col-xs-1 text-center">
        <%= form_for :upload, url: uploads_path do |f| %>

            <p>
                <div class="form-title-text">
                    <%= f.label :title %>
                </div>
                <%= f.text_field(:title, {:class => "form-control"}) %>
            </p>

            <p>
                <div class="form-title-text">
                    <%= f.label 'Tags' %>
                </div>
                <%= f.text_field(:tags_string, {:class => "form-control"})%>
            </p>

            <p> 
                <div class="form-title-text">
                    <%= f.label :image%>
                </div>
                <%= f.file_field(:image, {:class => "form-file-upload-button"})%>
            </p>

            <div>
                <%= f.submit("Upload", {:class => "btn btn-success"})%>
            </div>
        <%end%>
    </div>
</div>