<div class="container-fluid page-wrapper">
    <% if @uploads.count > 0 %>
        <div class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <% @uploads.in_groups(3, false) do |group| %>
                <div class="col">
                    <% group.each do |upload| %>
                        <div class="image-container">
                            <%= link_to image_tag(upload.image, :class => "col-image"), :action => 'show', :controller => 'uploads', :id => upload.id%>
                            <%= link_to :action => 'show', :controller => 'uploads', :id => upload.id do %>
                                <div class="title-container">
                                    <div class="title"><%= upload.title %></div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    <% @tags.each do |tag | %>
        <%# <%= link_to tag.title, tag %>
        <p><%= tag.title %></p>
    <% end %>
</div>