<div class="justify-content-center align-items-center page-wrapper show-container">
    <div class="p-2 text-center show-title-text"><%= @upload.title %></div>

    <%= image_tag(@upload.image, :class => "show-image") %>

    <% if @upload.tags.count > 0 %>
        <div class="show-tag-container">
            <% @upload.tags.each do |tag| %>
                <div class="show-tag-text"><%= link_to tag.title, tag %></div>
            <% end %>
        </div>
    <% end %>

    <div class="hide" id="loading-container">
        <div class="ascii-spinner" id="ascii-loading-spinner"></div>
        <div class="ascii-loading-message">Loading Ascii...</div>
    </div>
    
    <div class="p-2 show-ascii-container" id="ascii-container">
        <pre class="show-ascii-text" id="ascii-string"><%= @upload.ascii %></pre>
    </div>
</div>

<script>
    var pollingInterval = null;
    
    function onSuccess(data) {
        if (data != "<%= UploadsController::PLACEHOLDER_ASCII %>") {
            $("#loading-container").addClass("hide").removeClass("ascii-loading-container");
            $("#ascii-string").text(data);
            $("#ascii-container").show();
            clearInterval(pollingInterval);
        }     
    }

    function pollAsciiString() {
        $.ajax({
            url: "/ascii",
            type: "get",
            data: {'id': <%= @upload.id %>},
            cache: false,
            success: function(data) { onSuccess(data) },
            error: function (response) {},
        });
    }

    $(document).ready(function () {
        if ("<%= @upload.ascii[0..17] %>" == "<%= UploadsController::PLACEHOLDER_ASCII %>") {
            // hide the ascii and show spinner until successful response
            $("#ascii-container").hide();
            $("#loading-container").addClass("ascii-loading-container").removeClass("hide");
            // Use custom function to set interval that will be cleared on page navigate with turbolinks
            pollingInterval = setIntervalWithTurbolinks(pollAsciiString, 1000);
        }
    });
</script>