<!DOCTYPE html>
<html>
  <head>
    <title>Asciify</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar .navbar-dark bg-dark justify-content-between">
    <%= link_to "ASCIIFY", {action: 'index', controller: 'uploads'}, class: 'navbar-brand nav-bar-brand-title' %>
    <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline" } do |form| %>
      <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: " form-control mr-sm-2" %>
      <%= form.button "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
    <form class="form-inline">
      <%= link_to "Upload Image", {action: 'new', controller: 'uploads'}, class: 'btn btn-secondary' %>
    </form>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>